*{
    background-color: black;
}
p{
    color: aqua;
    text-align: center;
    font-size: 25px;
}
.clock{
    position: absolute;
    top: 50%;
    left:45%;
    transform: translateX(-50%)
    translateY(-50%);
    color: rgb(230, 13, 164);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   letter-spacing:7pm;
   border:2px solid white;
}